.mat-tab-group {
    height: 100vh; 
  }
  
  .mat-tab-body {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .tab-content {
    height: 100%; 
    padding: 10px; 
    display: flex;
    flex-direction: column;
  }